* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
/* ---------------------------------------NAV BARRE------------------------------------------------------- */
.entete {
  width: 100%;
  height: 50%;
  background: black;
  background-size: cover;
  background-attachment: fixed;
}

/* ---------------------------------------BARRE ACCEUIL----------------------------------------------------- */
.barre {
  position: sticky;
  top: 0px;
  background-color: black;
  width: 100%;
  height: 50px;
  z-index: 5;
}

.ul_barre {
  text-transform: uppercase;
  font-size: 18px;
  padding-inline-start: 0px;
}
.ul_barre {
  width: 80%;
  margin: 0 auto;
}
.li_barre > a {
  position: absolute;
}
a {
  display: block;
  /* position: absolute; */
 
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0px 50px;
  top: 0px;
  height: 100%;
  padding-block: 15px;
  text-align: center;
}
a:hover {
  color: rgb(255, 255, 255);
}
.li_barre {
  list-style: none;
  float: left;
  color: white;
  display: block;
  width: 215px;
  height: 50px;
  text-align: center;
  padding-block: 15px;
}
.ul_sec {
  visibility: hidden;
  box-shadow: 2px 2px rgb(75, 27, 75) inset;
  color: black;
  margin-top: 10px;
  padding-inline-start: 0px;

}

.li_sec {
  background-color: #ff9100;
  list-style: none;
  height: 50px;
  text-align: center;
  padding-block: 15px 0;
}

.li_barre:hover {
  background-color: #ff9100;
  cursor: pointer;
  box-shadow: 2px 2px rgb(0, 0, 0) inset;
  color: rgb(255, 255, 255);
}
.li_barre:hover .ul_sec {
  visibility: visible;
  transform: translateY(5px);
  transition: all 0.1s ease-in-out;
}

.li_sec:hover {
  cursor: pointer;
  box-shadow: 2px -2px rgb(0, 0, 0) inset;
  background-color: black;
  color: rgb(255, 255, 255);
}

#click_cnx {
  color: black;
  font-size: x-large;
}
/*----------------------------- ACTIVITES -------------------------------------*/

.Activite {
  text-align: center;
  padding-block: 50px;
}

.Activitetext {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 400;
  text-align: center;
  width: 70%;
  position: relative;
  left: 15%;
}
.activite1 {
  position: relative;
  left: 0%;
  bottom: -50px;
}
.h1activite1 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}
.h3activite1 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: -2%;
  margin-top: 3%;
}
.Pactivite1 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: -2%;
  margin-top: 2%;
}
.activite2 {
  position: relative;
  left: 60%;
  bottom: 570px;
}
.h1activite2 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 65%;
  margin-top: -43%;
}
.h3activite2 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: 55%;
  margin-top: 1%;
}
.Pactivite2 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: 55%;
  margin-top: 2%;
}
.h1activite3 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 15%;
  margin-bottom: -5%;
}
.h3activite3 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: -2%;
  margin-top: 6%;
}
.Pactivite3 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: -2%;
  margin-top: 2%;
}
.activite4 {
  position: relative;
  left: 60%;
  bottom: 590px;
}
.h1activite4 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 65%;
  margin-top: -44%;
}
.h3activite4 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: 55%;
  margin-top: -1%;
}
.Pactivite4 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: 55%;
  margin-top: 2%;
}
.activite5 {
  position: relative;
  left: 0%;
  bottom: -50px;
}
.h1activite5 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 12%;
  margin-top: 5%;
}
.h3activite5 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: -2%;
  margin-top: 3%;
}
.Pactivite5 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: -2%;
  margin-top: 2%;
}
.activite6 {
  position: relative;
  left: 60%;
  bottom: 568px;
}
.h1activite6 {
  letter-spacing: 0.08em;
  color: #000;
  vertical-align: baseline;
  font-size: 2.5rem;
  line-height: 1.625rem;
  font-weight: 600;
  text-align: left;
  width: 70%;
  margin-left: 70%;
  margin-top: -44%;
}
.h3activite6 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 1.3rem;
  line-height: 1.625rem;
  font-weight: 600;
  width: 50%;
  margin-left: 60%;
  margin-top: 3%;
}
.Pactivite6 {
  letter-spacing: 0.08em;
  color: #000;
  font-size: 2.5ex;
  line-height: 1.625rem;
  font-weight: 600;
  width: 40%;
  margin-left: 60%;
  margin-top: 4%;
}

/* ------------------------------------------------FOOTER--------------------------------------------- */
footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  margin-top: 200px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
}
.block_footer {
  list-style: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
.ul_footer {
  font-size: 20px;
}
.li_footer {
  list-style: none;
  margin: 5px 0 5px 8px;
  font-size: 14px;
}

.div_footer {
  display: inline-block;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: right;
  position: relative;
  left: 75%;
}
.li_footer:hover {
  cursor: pointer;
  color: white;
  background-color: #ff9100;
}

#fiii {
  color: #b4eecc;
}
